#page-login {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  align-items: stretch;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  padding: 10px;
  border: solid 1px;
}
